<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.hub.mapper.HubMatMapper">

    <resultMap type="com.brt.hub.vo.HubMatVo" id="HubMatResult">
        <result property="matCode" column="mat_code" />
        <result property="matName" column="mat_name" />
        <result property="matCategory" column="mat_category" />
        <result property="matColor" column="mat_color" />
        <result property="matBrand" column="mat_brand" />
        <result property="matSupplier" column="mat_supplier" />
        <result property="matWidth" column="mat_width" />
        <result property="matLength" column="mat_length" />
        <result property="matThickness" column="mat_thickness" />
        <result property="packageName" column="package_name" />
        <result property="measureUnitInt" column="measure_unit_int" />
        <result property="measureUnit" column="measure_unit" />
        <result property="unitWeight" column="unit_weight" />
        <result property="unitPrice" column="unit_price" />
        <result property="valid" column="is_valid" />
        <result property="comments" column="comments" />
        <result property="createTime" column="create_time" />
        <result property="createBy" column="create_by" />
        <result property="updateTime" column="update_time" />
        <result property="updateBy" column="update_by" />
    </resultMap>

    <sql id="hubMatAllField">
            A.mat_code,
            A.mat_name,
            A.mat_category,
            A.mat_color,
            A.mat_brand,
            A.mat_supplier,
            A.mat_width,
            A.mat_length,
            A.mat_thickness,
            A.package_name,
            A.measure_unit_int,
            A.measure_unit,
            A.unit_weight,
            A.unit_price,
            A.is_valid,
            A.comments,
            A.create_time,
            A.create_by,
            A.update_time,
            A.update_by
    </sql>

    <sql id="hubMatQuerySql">
        select <include refid="hubMatAllField"/>
        from brt_mat A
    </sql>

    <select id="queryHubMatList" parameterType="com.brt.hub.vo.HubMatVo" resultMap="HubMatResult">
        <include refid="hubMatQuerySql"/>
        <where>
            <if test="hubMatVo.matCode != null and hubMatVo.matCode != ''"> and A.mat_code = #{hubMatVo.matCode}</if>
            <if test="hubMatVo.matName != null and hubMatVo.matName != ''"> and A.mat_name like concat('%', #{hubMatVo.matName}, '%')</if>
            <if test="hubMatVo.matCategory != null and hubMatVo.matCategory != ''"> and A.mat_category = #{hubMatVo.matCategory}</if>
            <if test="hubMatVo.matColor != null and hubMatVo.matColor != ''"> and A.mat_color = #{hubMatVo.matColor}</if>
            <if test="hubMatVo.matBrand != null and hubMatVo.matBrand != ''"> and A.mat_brand = #{hubMatVo.matBrand}</if>
            <if test="hubMatVo.matSupplier != null and hubMatVo.matSupplier != ''"> and A.mat_supplier = #{hubMatVo.matSupplier}</if>
            <if test="hubMatVo.measureUnitInt != null"> and A.measure_unit_int = #{hubMatVo.measureUnitInt}</if>
            <if test="hubMatVo.measureUnit != null and hubMatVo.measureUnit != ''"> and A.measure_unit = #{hubMatVo.measureUnit}</if>
            <if test="hubMatVo.valid != null"> and A.is_valid = #{hubMatVo.valid}</if>
        </where>
        order by A.create_time desc
    </select>

    <select id="queryHubMatByMatCode" resultMap="HubMatResult">
        <include refid="hubMatQuerySql"/>
        where A.mat_code = #{MatCode}
    </select>
</mapper>
