<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.hub.mapper.HubProdMapper">

    <resultMap type="com.brt.hub.vo.HubProdVo" id="HubProdResult">
        <result property="prodCode" column="prod_code" />
        <result property="prodType" column="prod_type" />
        <result property="prodName" column="prod_name" />
        <result property="minLength" column="min_length" />
        <result property="maxLength" column="max_length" />
        <result property="minWidth" column="min_width" />
        <result property="maxWidth" column="max_width" />
        <result property="materialCode" column="material_code" />
        <result property="materialName" column="material_name" />
        <result property="materialColor" column="material_color" />
        <result property="materialBrand" column="material_brand" />
        <result property="materialSupplier" column="material_supplier" />
        <result property="measureUnitInt" column="measure_unit_int" />
        <result property="measureUnit" column="measure_unit" />
        <result property="unitWeight" column="unit_weight" />
        <result property="additionalUnitfee" column="additional_unitfee" />
        <result property="comments" column="comments" />
        <result property="merchandise" column="is_merchandise" />
        <result property="createTime" column="create_time" />
        <result property="createBy" column="create_by" />
        <result property="updateTime" column="update_time" />
        <result property="updateBy" column="update_by" />
    </resultMap>

    <sql id="hubProdAllField">
            A.prod_code,
            A.prod_type,
            A.prod_name,
            A.min_length,
            A.max_length,
            A.min_width,
            A.max_width,
            A.material_code,
            A.material_name,
            A.material_color,
            A.material_brand,
            A.material_supplier,
            A.measure_unit_int,
            A.measure_unit,
            A.unit_weight,
            A.additional_unitfee,
            A.comments,
            A.is_merchandise,
            A.create_time,
            A.create_by,
            A.update_time,
            A.update_by
    </sql>

    <sql id="hubProdQuerySql">
        select <include refid="hubProdAllField"/>
        from brt_prod A
    </sql>

    <select id="queryHubProdList" parameterType="com.brt.hub.vo.HubProdVo" resultMap="HubProdResult">
        <include refid="hubProdQuerySql"/>
        <where>
            <if test="hubProdVo.prodCode != null and hubProdVo.prodCode != ''"> and A.prod_code = #{hubProdVo.prodCode}</if>
            <if test="hubProdVo.prodName != null and hubProdVo.prodName != ''"> and A.prod_name like concat('%', #{hubProdVo.prodName}, '%')</if>
            <if test="hubProdVo.prodType != null"> and A.prod_type = #{hubProdVo.prodType}</if>
            <if test="hubProdVo.materialCode != null and hubProdVo.materialCode != ''"> and A.material_code = #{hubProdVo.materialCode}</if>
            <if test="hubProdVo.materialName != null and hubProdVo.materialName != ''"> and A.material_name like concat('%', #{hubProdVo.materialName}, '%')</if>
            <if test="hubProdVo.measureUnitInt != null"> and A.measure_unit_int = #{hubProdVo.measureUnitInt}</if>
            <if test="hubProdVo.measureUnit != null and hubProdVo.measureUnit != ''"> and A.measure_unit = #{hubProdVo.measureUnit}</if>
            <if test="hubProdVo.merchandise != null"> and A.is_merchandise = #{hubProdVo.merchandise}</if>
        </where>
        order by A.create_time desc
    </select>

    <select id="queryHubProdByProdCode" resultMap="HubProdResult">
        <include refid="hubProdQuerySql"/>
        where A.prod_code = #{ProdCode}
    </select>
</mapper>
