<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.hub.mapper.HubProcMapper">

    <resultMap type="com.brt.hub.vo.HubProcVo" id="HubProcResult">
        <result property="procCode" column="proc_code" />
        <result property="procName" column="proc_name" />
        <result property="procAttachmentTypeList" column="proc_attachment_type_list" />
        <result property="measureUnit" column="measure_unit" />
        <result property="measureUnitStr" column="measure_unit_str" />
        <result property="procPrice" column="proc_price" />
        <result property="valid" column="is_valid" />
        <result property="comments" column="comments" />
        <result property="createTime" column="create_time" />
        <result property="createBy" column="create_by" />
        <result property="updateTime" column="update_time" />
        <result property="updateBy" column="update_by" />
    </resultMap>

    <sql id="hubProcAllField">
            A.proc_code,
            A.proc_name,
            A.proc_attachment_type_list,
            A.measure_unit,
            A.measure_unit_str,
            A.proc_price,
            A.is_valid,
            A.comments,
            A.create_time,
            A.create_by,
            A.update_time,
            A.update_by
    </sql>

    <sql id="hubProcQuerySql">
        select <include refid="hubProcAllField"/>
        from brt_proc A
    </sql>

    <select id="queryHubProcList" parameterType="com.brt.hub.vo.HubProcVo" resultMap="HubProcResult">
        <include refid="hubProcQuerySql"/>
        <where>
            <if test="hubProcVo.procCode != null and hubProcVo.procCode != ''"> and A.proc_code = #{hubProcVo.procCode}</if>
            <if test="hubProcVo.procName != null and hubProcVo.procName != ''"> and A.proc_name like concat('%', #{hubProcVo.procName}, '%')</if>
            <if test="hubProcVo.measureUnit != null"> and A.measure_unit = #{hubProcVo.measureUnit}</if>
            <if test="hubProcVo.measureUnitStr != null and hubProcVo.measureUnitStr != ''"> and A.measure_unit_str = #{hubProcVo.measureUnitStr}</if>
            <if test="hubProcVo.valid != null"> and A.is_valid = #{hubProcVo.valid}</if>
        </where>
        order by A.create_time desc
    </select>

    <select id="queryHubProcByProcCode" resultMap="HubProcResult">
        <include refid="hubProcQuerySql"/>
        where A.proc_code = #{ProcCode}
    </select>
</mapper>
