package ${packageName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${packageName}.domain.${ClassName};
import ${packageName}.vo.${ClassName}Vo;
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end
import org.apache.ibatis.annotations.Param;

import java.util.List;

/**
 * ${functionName}Mapper接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {

    /**
     * @description: TODO 分页查询${functionName}列表
     * @author: ${author}
     * @date: ${datetime}
     * @param:
     * @param: page
     * @param: ${className}Vo
     * @return:
     * @return com.baomidou.mybatisplus.extension.plugins.pagination.Page<Vo>
     **/
    Page<${ClassName}Vo> query${ClassName}List(Page<?> page, @Param("${className}Vo") ${ClassName}Vo ${className}Vo);

    /**
     * @description: TODO 查询${functionName}列表
     * @author: ${author}
     * @date: ${datetime}
     * @param:
     * @param: ${className}Vo
     * @return:
     * @return com.baomidou.mybatisplus.extension.plugins.pagination.Page<Vo>
     **/
    List<${ClassName}Vo> query${ClassName}List(@Param("${className}Vo") ${ClassName}Vo ${className}Vo);

    /**
     * @description: TODO 根据${pkColumn.javaField}查询${functionName}
     * @author: ${author}
     * @date: ${datetime}
     * @param:
     * @return:
     * @return Vo
     **/
    ${ClassName}Vo query${ClassName}By${pkColumn.capJavaField}(@Param("${pkColumn.capJavaField}") ${pkColumn.javaType} ${pkColumn.javaField});

}
