<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.order.mapper.BrtCustomerMapper">

    <resultMap type="com.brt.order.vo.BrtCustomerVo" id="BrtCustomerResult">
        <result property="customerId"    column="customer_id"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerNo"    column="customer_no"    />
        <result property="typeId"    column="type_id"    />
        <result property="gradeId"    column="grade_id"    />
        <result property="contact"    column="contact"    />
        <result property="contactTel"    column="contact_tel"    />
        <result property="userId"    column="user_id"    />
        <result property="customerRemark"    column="customer_remark"    />
        <result property="attachments"    column="attachments"    />
        <result property="customerStatus" column="customer_status"/>
        <result property="customerAddress" column="customer_address"/>
        <result property="logisticsAddress" column="logistics_address"/>
        <result property="otherFields" column="other_fields"/>
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />

<!--        <association property="typeVo" javaType="com.brt.order.vo.BrtCustomerTypeVo" column="type_id" select="com.brt.order.mapper.BrtCustomerTypeMapper.queryBrtCustomerTypeByTypeId" />-->
<!--        <association property="gradeVo" javaType="com.brt.order.vo.BrtCustomerGradeVo" column="grade_id" select="com.brt.order.mapper.BrtCustomerGradeMapper.queryBrtCustomerGradeByGradeId" />-->
        <association property="user" javaType="com.brt.common.core.domain.entity.SysUser" column="user_id" select="com.brt.system.mapper.SysUserMapper.selectUserById" />
    </resultMap>

    <sql id="brtCustomerAllField">
            A.customer_id,
            A.customer_name,
            A.customer_no,
            A.type_id,
            A.grade_id,
            A.contact,
            A.contact_tel,
            A.user_id,
            A.customer_remark,
            A.attachments,
            A.customer_status,
            A.customer_address,
            A.logistics_address,
            A.other_fields,
            A.create_time,
            A.create_by,
            A.update_time,
        A.update_by
    </sql>

    <sql id="brtCustomerQuerySql">
        select <include refid="brtCustomerAllField"/>
        from brt_customer A
    </sql>

    <select id="queryBrtCustomerList" parameterType="com.brt.order.vo.BrtCustomerVo" resultMap="BrtCustomerResult">
        <include refid="brtCustomerQuerySql"/>
        <where>
            <if test="brtCustomerVo.customerName != null  and brtCustomerVo.customerName != ''"> and A.customer_name like concat('%', #{brtCustomerVo.customerName}, '%')</if>
            <if test="brtCustomerVo.customerNo != null  and brtCustomerVo.customerNo != ''"> and A.customer_no = #{brtCustomerVo.customerNo}</if>
            <if test="brtCustomerVo.typeId != null  and brtCustomerVo.typeId != ''"> and A.type_id = #{brtCustomerVo.typeId}</if>
            <if test="brtCustomerVo.gradeId != null  and brtCustomerVo.gradeId != ''"> and A.grade_id = #{brtCustomerVo.gradeId}</if>
            <if test="brtCustomerVo.contact != null  and brtCustomerVo.contact != ''"> and A.contact like concat('%',#{brtCustomerVo.contact},'%')</if>
            <if test="brtCustomerVo.contactTel != null  and brtCustomerVo.contactTel != ''"> and A.contact_tel like concat('%',#{brtCustomerVo.contactTel},'%')</if>
            <if test="brtCustomerVo.userId != null  and brtCustomerVo.userId != ''"> and A.user_id = #{brtCustomerVo.userId}</if>
            <if test="brtCustomerVo.customerRemark != null  and brtCustomerVo.customerRemark != ''"> and A.customer_remark = #{brtCustomerVo.customerRemark}</if>
            <if test="brtCustomerVo.attachments != null  and brtCustomerVo.attachments != ''"> and A.attachments = #{brtCustomerVo.attachments}</if>
            <if test="brtCustomerVo.customerStatus != null and brtCustomerVo.customerStatus != ''"> and A.customer_status = #{brtCustomerVo.customerStatus}</if>
            <if test="brtCustomerVo.keyWords != null and brtCustomerVo.keyWords != ''">
                and (A.customer_name like concat('%', #{brtCustomerVo.keyWords}, '%') or A.customer_no like concat('%', #{brtCustomerVo.keyWords}, '%'))
            </if>
            <if test="brtCustomerVo.dateType != null and brtCustomerVo.dateType != ''">
                <choose>
                    <when test="brtCustomerVo.dateType == '0'.toString() ">
                        and date_format(A.create_time,'%y%m%d') = date_format(now(),'%y%m%d')
                    </when>
                    <when test="brtCustomerVo.dateType == '1'.toString() ">
                        and DATE(A.create_time) = CURDATE() - INTERVAL 1 DAY
                    </when>
                    <when test="brtCustomerVo.dateType == '2'.toString() ">
                        and date_format(A.create_time,'%y%m') = date_format(now(),'%y%m')
                    </when>
                    <when test="brtCustomerVo.dateType == '3'.toString() ">
                        and QUARTER(A.create_time) = QUARTER(CURDATE()) and YEAR(A.create_time) = YEAR(CURDATE())
                    </when>
                    <when test="brtCustomerVo.dateType == '4'.toString() ">
                        and YEAR(A.create_time) = YEAR(CURDATE())
                    </when>
                </choose>
            </if>
            <if test="brtCustomerVo.createTimeStart != null and brtCustomerVo.createTimeStart != '' and brtCustomerVo.createTimeEnd != null and brtCustomerVo.createTimeEnd != ''">
                and date_format(A.create_time,'%y%m%d') between date_format(#{brtCustomerVo.createTimeStart},'%y%m%d') and date_format(#{brtCustomerVo.createTimeEnd},'%y%m%d')
            </if>
            <if test="brtCustomerVo.ids!=null">
                and customer_id in
                <foreach collection="brtCustomerVo.ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <!-- 数据范围过滤 -->
            ${brtCustomerVo.params.brtDataScope}
        </where>


        order by A.create_time desc
    </select>

    <select id="queryBrtCustomerByCustomerId" resultMap="BrtCustomerResult">
        <include refid="brtCustomerQuerySql"/>
        where A.customer_id = #{CustomerId}
    </select>

    <!--  查询客户的销售记录  -->
    <select id="queryMarketRecord" parameterType="com.brt.order.vo.MarketRecordVo" resultType="com.brt.order.vo.MarketRecordVo">
        select
            p.orderNo,
            p.orderTime,
            p.deliveryStatus,
            p.deliveryNum,
            if(p.planId = null,p.totalAmount,p.planAmount) totalAmount, -- 总金额
            if(p.planId = null,0,p.collectionAmount) collectionAmount, -- 收款金额
            if(p.planId = null,p.totalAmount,p.planAmount-p.collectionAmount) unCollectionAmount, -- 未收款金额
            if(p.planId = null,"0",if(p.collectionAmount &lt; p.planAmount,if(p.collectionAmount = 0,"0","2"),"1")) priceStatus -- 收款状态
        from (
            SELECT
                so.order_no orderNo, -- 订单号
                order_time orderTime, -- 日期
                sum(omp.materiel_num) deliveryNum, -- 发货数量
                ifnull(so.total_amount,0) totalAmount, -- 订单合计金额
                ifnull(ocp.plan_amount,0) planAmount, -- 计划收款金额
                cd.delivery_status deliveryStatus, -- 送货状态
                ifnull(so.collection_amount,0) collectionAmount, -- 收款金额
                ocp.plan_id planId
            FROM
                brt_sales_order so
                inner JOIN brt_customer_delivery cd ON cd.order_id = so.order_id
                left join brt_order_materiel_plan omp on omp.order_id = cd.order_id
                left join brt_order_collection_plan ocp on ocp.order_id = so.order_id
                where cd.customer_id = #{marketRecordVo.customerId}
            group by so.order_id
        )p
    </select>
</mapper>
