<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.order.mapper.BrtFieldMapper">
    
    <resultMap type="com.brt.order.vo.BrtFieldVo" id="BrtFieldResult">
        <result property="fieldId"    column="field_id"    />
        <result property="fieldName"    column="field_name"    />
        <result property="fieldType"    column="field_type"    />
        <result property="businessType"    column="business_type"    />
        <result property="dictType"    column="dict_type"    />
        <result property="fieldRemark"    column="field_remark"    />
        <result property="fieldStatus"    column="field_status"    />
        <result property="isMust"    column="is_must"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="brtFieldAllField">
            A.field_id,
            A.field_name,
            A.field_type,
            A.business_type,
            A.dict_type,
            A.field_remark,
            A.field_status,
            A.is_must,
            A.create_time,
            A.create_by,
            A.update_time,
        A.update_by
    </sql>

    <sql id="brtFieldQuerySql">
        select <include refid="brtFieldAllField"/>
        from brt_field A
    </sql>

    <select id="queryBrtFieldList" parameterType="com.brt.order.vo.BrtFieldVo" resultMap="BrtFieldResult">
        <include refid="brtFieldQuerySql"/>
        <where>  
            <if test="brtFieldVo.fieldName != null  and brtFieldVo.fieldName != ''"> and A.field_name like concat('%', #{brtFieldVo.fieldName}, '%')</if>
            <if test="brtFieldVo.fieldType != null  and brtFieldVo.fieldType != ''"> and A.field_type = #{brtFieldVo.fieldType}</if>
            <if test="brtFieldVo.businessType != null  and brtFieldVo.businessType != ''"> and A.business_type = #{brtFieldVo.businessType}</if>
            <if test="brtFieldVo.dictType != null  and brtFieldVo.dictType != ''"> and A.dict_type = #{brtFieldVo.dictType}</if>
            <if test="brtFieldVo.fieldRemark != null  and brtFieldVo.fieldRemark != ''"> and A.field_remark = #{brtFieldVo.fieldRemark}</if>
            <if test="brtFieldVo.fieldStatus != null "> and A.field_status = #{brtFieldVo.fieldStatus}</if>
            <if test="brtFieldVo.isMust != null "> and A.is_must = #{brtFieldVo.isMust}</if>
        </where>
        order by A.create_time desc
    </select>

    <select id="queryBrtFieldByFieldId" resultMap="BrtFieldResult">
        <include refid="brtFieldQuerySql"/>
        where A.field_id = #{FieldId}
    </select>
</mapper>