<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.order.mapper.BrtFlowTemplateMapper">

    <resultMap type="com.brt.order.vo.BrtFlowTemplateVo" id="NotOtherBrtFlowTemplateResult">
        <result property="templateId"    column="template_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="userId"    column="user_id"    />
        <result property="isSeqExecute"    column="is_seq_execute"    />
        <result property="isAutoPostpone"    column="is_auto_postpone"    />
        <result property="templateStatus"    column="template_status"    />
        <result property="isAudit"    column="is_audit"    />
        <result property="auditUserId"    column="audit_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <association property="dutyUser" javaType="com.brt.common.core.domain.entity.SysUser" column="user_id" select="com.brt.system.mapper.SysUserMapper.selectUserById" />
    </resultMap>


    <resultMap type="com.brt.order.vo.BrtFlowTemplateVo" extends="NotOtherBrtFlowTemplateResult" id="BrtFlowTemplateResult">
        <collection property="flowNodeList" ofType="com.brt.order.vo.BrtFlowNodeVo" column="template_id" select="com.brt.order.mapper.BrtFlowNodeMapper.queryBrtFlowNodeListByTemplateId" />
    </resultMap>

    <sql id="brtFlowTemplateAllField">
            A.template_id,
            A.template_name,
            A.user_id,
            A.is_seq_execute,
            A.is_auto_postpone,
            A.template_status,
            A.is_audit,
            A.audit_user_id,
            A.create_time,
            A.create_by,
            A.update_time,
        A.update_by
    </sql>

    <sql id="brtFlowTemplateQuerySql">
        select <include refid="brtFlowTemplateAllField"/>
        from brt_flow_template A
    </sql>

    <select id="queryBrtFlowTemplateList" parameterType="com.brt.order.vo.BrtFlowTemplateVo" resultMap="BrtFlowTemplateResult">
        <include refid="brtFlowTemplateQuerySql"/>
        <where>  
            <if test="brtFlowTemplateVo.templateName != null  and brtFlowTemplateVo.templateName != ''"> and A.template_name like concat('%', #{brtFlowTemplateVo.templateName}, '%')</if>
            <if test="brtFlowTemplateVo.userId != null  and brtFlowTemplateVo.userId != ''"> and A.user_id = #{brtFlowTemplateVo.userId}</if>
            <if test="brtFlowTemplateVo.isSeqExecute != null"> and A.is_seq_execute = #{brtFlowTemplateVo.isSeqExecute}</if>
            <if test="brtFlowTemplateVo.isAutoPostpone != null"> and A.is_auto_postpone = #{brtFlowTemplateVo.isAutoPostpone}</if>
            <if test="brtFlowTemplateVo.templateStatus != null"> and A.template_status = #{brtFlowTemplateVo.templateStatus}</if>
            <if test="brtFlowTemplateVo.isAudit != null  and brtFlowTemplateVo.isAudit != ''"> and A.is_audit = #{brtFlowTemplateVo.isAudit}</if>
            <if test="brtFlowTemplateVo.auditUserId != null  and brtFlowTemplateVo.auditUserId != ''"> and A.audit_user_id = #{brtFlowTemplateVo.auditUserId}</if>
        </where>
        order by A.create_time desc
    </select>

    <select id="queryBrtFlowTemplateByTemplateId" resultMap="BrtFlowTemplateResult">
        <include refid="brtFlowTemplateQuerySql"/>
        where A.template_id = #{TemplateId}
    </select>

    <select id="queryNotOtherFlowTemplateByTemplateId" resultMap="NotOtherBrtFlowTemplateResult">
        <include refid="brtFlowTemplateQuerySql"/>
        where A.template_id = #{TemplateId}
    </select>
</mapper>