<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.order.mapper.BrtInInventoryMaterielMapper">

    <resultMap type="com.brt.order.vo.BrtInInventoryMaterielVo" id="BrtInInventoryMaterielResult">
        <result property="inInventoryMaterielId"    column="in_inventory_materiel_id"    />
        <result property="inInventoryId"    column="in_inventory_id"    />
        <result property="materielId"    column="materiel_id"    />
        <result property="inInventoryNum"    column="in_inventory_num"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="residueNum"    column="residue_num"    />

    </resultMap>

    <sql id="brtInInventoryMaterielAllField">
            A.in_inventory_materiel_id,
            A.in_inventory_id,
            A.materiel_id,
            A.in_inventory_num,
            A.remark,
            A.create_time,
            A.create_by,
            A.update_time,
            A.update_by,
            A.residue_num
    </sql>

    <sql id="brtInInventoryMaterielQuerySql">
        select <include refid="brtInInventoryMaterielAllField"/>
        from brt_in_inventory_materiel A
    </sql>

    <select id="queryBrtInInventoryMaterielList" parameterType="com.brt.order.vo.BrtInInventoryMaterielVo" resultMap="BrtInInventoryMaterielResult">
        <include refid="brtInInventoryMaterielQuerySql"/>
        <where>
            <if test="brtInInventoryMaterielVo.materielId != null  and brtInInventoryMaterielVo.materielId != ''"> and A.materiel_id = #{brtInInventoryMaterielVo.materielId}</if>
            <if test="brtInInventoryMaterielVo.inInventoryNum != null "> and A.in_inventory_num = #{brtInInventoryMaterielVo.inInventoryNum}</if>
        </where>
        order by A.create_time desc
    </select>

    <select id="queryBrtInInventoryMaterielByInInventoryMaterielId" resultMap="BrtInInventoryMaterielResult">
        <include refid="brtInInventoryMaterielQuerySql"/>
        where A.in_inventory_materiel_id = #{InInventoryMaterielId}
    </select>

    <select id="queryByInInventoryId" resultType="com.brt.order.vo.BrtInInventoryMaterielVo">
        SELECT
            im.in_inventory_materiel_id inInventoryMaterielId,
            im.in_inventory_id inInventoryId,
            im.materiel_id materielId,
            im.in_inventory_num inInventoryNum,
            im.remark remark,
            m.materiel_no materielNo,
            m.materiel_name materielName,
            m.materiel_spec materielSpec,
            m.type_id typeId
        FROM
            brt_in_inventory_materiel im
                LEFT JOIN brt_materiel m ON m.materiel_id = im.materiel_id
        where in_inventory_id = #{inInventoryId}
    </select>

    <select id="deleteByInInventoryId">
        delete  from brt_in_inventory_materiel where in_inventory_id in
        <foreach collection="inventoryIds" separator="," close=")" open="(" item="item">
            #{item}
        </foreach>
    </select>

</mapper>
