<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.order.mapper.BrtInInventoryMapper">

    <resultMap type="com.brt.order.vo.BrtInInventoryVo" id="BrtInInventoryResult">
        <result property="inInventoryId"    column="in_inventory_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="inInventoryNo"    column="in_inventory_no"    />
        <result property="inInventoryType"    column="in_inventory_type"    />
        <result property="inInventoryStatus"    column="in_inventory_status"    />
        <result property="applicat"    column="applicat"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="files"    column="files"    />
        <result property="uploadType"    column="upload_type"    />

        <association property="user" javaType="com.brt.common.core.domain.entity.SysUser" column="applicat" select="com.brt.system.mapper.SysUserMapper.selectUserById" />
        <association property="marketOrder" javaType="com.brt.order.vo.BrtMarketOrderVo" column="order_id" select="com.brt.order.mapper.BrtMarketOrderMapper.queryBrtMarketOrderByOrderId" />

    </resultMap>

    <sql id="brtInInventoryAllField">
            A.in_inventory_id,
            A.order_id,
            A.in_inventory_no,
            A.in_inventory_type,
            A.in_inventory_status,
            A.applicat,
            A.apply_time,
            A.remark,
            A.create_time,
            A.create_by,
            A.update_time,
            A.update_by,
            A.files,
            A.upload_type
    </sql>

    <sql id="brtInInventoryQuerySql">
        select <include refid="brtInInventoryAllField"/>
        from brt_in_inventory A
    </sql>

    <select id="queryBrtInInventoryList" parameterType="com.brt.order.vo.BrtInInventoryVo" resultMap="BrtInInventoryResult">
        <include refid="brtInInventoryQuerySql"/>
        <where>
            <if test="brtInInventoryVo.orderId != null  and brtInInventoryVo.orderId != ''"> and A.order_id = #{brtInInventoryVo.orderId}</if>
            <if test="brtInInventoryVo.inInventoryNo != null  and brtInInventoryVo.inInventoryNo != ''"> and A.in_inventory_no like concat('%',#{brtInInventoryVo.inInventoryNo},'%') </if>
            <if test="brtInInventoryVo.inInventoryType != null  and brtInInventoryVo.inInventoryType != ''"> and A.in_inventory_type = #{brtInInventoryVo.inInventoryType}</if>
            <if test="brtInInventoryVo.inInventoryStatus != null  and brtInInventoryVo.inInventoryStatus != ''"> and A.in_inventory_status = #{brtInInventoryVo.inInventoryStatus}</if>
            <if test="brtInInventoryVo.applicat != null  and brtInInventoryVo.applicat != ''"> and A.applicat = #{brtInInventoryVo.applicat}</if>
            <if test="brtInInventoryVo.applyTime != null "> and A.apply_time = #{brtInInventoryVo.applyTime}</if>
        </where>
        order by A.create_time desc
    </select>

    <select id="queryBrtInInventoryByInInventoryId" resultMap="BrtInInventoryResult">
        <include refid="brtInInventoryQuerySql"/>
        where A.in_inventory_id = #{InInventoryId}
    </select>
</mapper>
