<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.order.mapper.BrtOrderChildProcessMapper">

    <resultMap type="com.brt.order.vo.BrtOrderChildProcessVo" id="BrtOrderChildProcessResult">
        <result property="childId"    column="child_id"    />
        <result property="childNo"    column="child_no"    />
        <result property="parentChildId"    column="parent_child_id"    />
        <result property="templateId"    column="template_id"    />
        <result property="childName"    column="child_name"    />
        <result property="orderId"    column="order_id"    />
        <result property="childStatus"    column="child_status"    />
        <result property="nodeId"    column="node_id"    />
        <result property="orderNodeId"    column="order_node_id"    />
        <result property="nodeNum"    column="node_num"    />
        <result property="complateNum"    column="complate_num"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />

        <association property="flowTemplateVo" javaType="com.brt.order.vo.BrtFlowTemplateVo" column="template_id" select="com.brt.order.mapper.BrtFlowTemplateMapper.queryNotOtherFlowTemplateByTemplateId" />
    </resultMap>

    <sql id="brtOrderChildProcessAllField">
            A.child_id,
            A.child_no,
            A.parent_child_id,
            A.template_id,
            A.child_name,
            A.order_id,
            A.child_status,
            A.node_id,
            A.order_node_id,
            A.node_num,
            A.complate_num,
            A.create_time,
            A.create_by,
            A.update_time,
        A.update_by
    </sql>

    <sql id="brtOrderChildProcessQuerySql">
        select <include refid="brtOrderChildProcessAllField"/>
        from brt_order_child_process A
    </sql>

    <select id="queryBrtOrderChildProcessList" parameterType="com.brt.order.vo.BrtOrderChildProcessVo" resultMap="BrtOrderChildProcessResult">
        <include refid="brtOrderChildProcessQuerySql"/>
        <where>
            <if test="brtOrderChildProcessVo.childNo != null  and brtOrderChildProcessVo.childNo != ''"> and A.child_no = #{brtOrderChildProcessVo.childNo}</if>
            <if test="brtOrderChildProcessVo.parentChildId != null  and brtOrderChildProcessVo.parentChildId != ''"> and A.parent_child_id = #{brtOrderChildProcessVo.parentChildId}</if>
            <if test="brtOrderChildProcessVo.templateId != null  and brtOrderChildProcessVo.templateId != ''"> and A.template_id = #{brtOrderChildProcessVo.templateId}</if>
            <if test="brtOrderChildProcessVo.childName != null  and brtOrderChildProcessVo.childName != ''"> and A.child_name like concat('%', #{brtOrderChildProcessVo.childName}, '%')</if>
            <if test="brtOrderChildProcessVo.orderId != null  and brtOrderChildProcessVo.orderId != ''"> and A.order_id = #{brtOrderChildProcessVo.orderId}</if>
            <if test="brtOrderChildProcessVo.childStatus != null  and brtOrderChildProcessVo.childStatus != ''"> and A.child_status = #{brtOrderChildProcessVo.childStatus}</if>
            <if test="brtOrderChildProcessVo.nodeId != null  and brtOrderChildProcessVo.nodeId != ''"> and A.node_id = #{brtOrderChildProcessVo.nodeId}</if>
            <if test="brtOrderChildProcessVo.orderNodeId != null  and brtOrderChildProcessVo.orderNodeId != ''"> and A.order_node_id = #{brtOrderChildProcessVo.orderNodeId}</if>
            <if test="brtOrderChildProcessVo.nodeNum != null "> and A.node_num = #{brtOrderChildProcessVo.nodeNum}</if>
            <if test="brtOrderChildProcessVo.complateNum != null "> and A.complate_num = #{brtOrderChildProcessVo.complateNum}</if>
        </where>
        order by A.child_status
    </select>

    <select id="queryBrtOrderChildProcessByChildId" resultMap="BrtOrderChildProcessResult">
        <include refid="brtOrderChildProcessQuerySql"/>
        where A.child_id = #{ChildId}
    </select>
</mapper>
