<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.order.mapper.BrtPriceSheetMaterielMapper">

    <resultMap type="com.brt.order.vo.BrtPriceSheetMaterielVo" id="BrtPriceSheetMaterielResult">
        <result property="recordId"    column="record_id"    />
        <result property="nodeId"    column="node_id"    />
        <result property="orderNodeId"    column="order_node_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderType"    column="order_type"    />
        <result property="materielId"    column="materiel_id"    />
        <result property="materielNum"    column="materiel_num"    />
        <result property="surplusNum"    column="surplus_num"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="brtPriceSheetMaterielAllField">
        A.record_id,
            A.node_id,
            A.order_node_id,
            A.order_id,
            A.order_type,
            A.materiel_id,
            A.materiel_num,
            A.surplus_num,
            A.create_time,
            A.create_by,
            A.update_time,
        A.update_by
    </sql>

    <sql id="brtPriceSheetMaterielQuerySql">
        select <include refid="brtPriceSheetMaterielAllField"/>
        from brt_price_sheet_materiel A
    </sql>

    <select id="queryBrtPriceSheetMaterielList" parameterType="com.brt.order.vo.BrtPriceSheetMaterielVo" resultMap="BrtPriceSheetMaterielResult">
        <include refid="brtPriceSheetMaterielQuerySql"/>
        <where>
            <if test="brtPriceSheetMaterielVo.nodeId != null  and brtPriceSheetMaterielVo.nodeId != ''"> and A.node_id = #{brtPriceSheetMaterielVo.nodeId}</if>
            <if test="brtPriceSheetMaterielVo.orderNodeId != null  and brtPriceSheetMaterielVo.orderNodeId != ''"> and A.order_node_id = #{brtPriceSheetMaterielVo.orderNodeId}</if>
            <if test="brtPriceSheetMaterielVo.orderId != null  and brtPriceSheetMaterielVo.orderId != ''"> and A.order_id = #{brtPriceSheetMaterielVo.orderId}</if>
            <if test="brtPriceSheetMaterielVo.orderType != null  and brtPriceSheetMaterielVo.orderType != ''"> and A.order_type = #{brtPriceSheetMaterielVo.orderType}</if>
            <if test="brtPriceSheetMaterielVo.materielId != null  and brtPriceSheetMaterielVo.materielId != ''"> and A.materiel_id = #{brtPriceSheetMaterielVo.materielId}</if>
            <if test="brtPriceSheetMaterielVo.materielNum != null "> and A.materiel_num = #{brtPriceSheetMaterielVo.materielNum}</if>
            <if test="brtPriceSheetMaterielVo.surplusNum != null "> and A.surplus_num = #{brtPriceSheetMaterielVo.surplusNum}</if>
        </where>
        order by A.create_time desc
    </select>

    <select id="queryBrtPriceSheetMaterielByRecordId" resultMap="BrtPriceSheetMaterielResult">
        <include refid="brtPriceSheetMaterielQuerySql"/>
        where A.record_id = #{RecordId}
    </select>
</mapper>
