<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.order.mapper.BrtPriceSheetOrderMapper">

    <resultMap type="com.brt.order.vo.BrtPriceSheetOrderVo" id="BrtPriceSheetOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="customerId"    column="customer_id"    />
        <result property="contact"    column="contact"    />
        <result property="contactTel"    column="contact_tel"    />
        <result property="deliveryAddress"    column="delivery_address"    />
        <result property="orderTime"    column="order_time"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="templateId"    column="template_id"    />
        <result property="craftType"    column="craft_type"    />
        <result property="totalNum"    column="total_num"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="currencyType"    column="currency_type"    />
        <result property="attachments"    column="attachments"    />
        <result property="userId"    column="user_id"    />
        <result property="orderRemark"    column="order_remark"    />
        <result property="collectionAmount" column="collection_amount"/>
        <result property="collectionStatus" column="collection_status"/>
        <result property="orderStatus" column="order_status"/>
        <result property="isPriceSheet" column="is_price_sheet"/>
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="status"    column="status"    />
        <result property="finishDate"    column="finish_date"    />
        <result property="otherFields"    column="other_fields"    />
        <association property="customerVo" javaType="com.brt.order.vo.BrtCustomerVo" column="customer_id" select="com.brt.order.mapper.BrtCustomerMapper.queryBrtCustomerByCustomerId" />
        <association property="user" javaType="com.brt.common.core.domain.entity.SysUser" column="user_id" select="com.brt.system.mapper.SysUserMapper.selectUserById" />
        <association property="nowOrderNodeVo" javaType="com.brt.order.vo.BrtOrderNodeVo" column="order_id" select="com.brt.order.mapper.BrtOrderNodeMapper.selectNowOrderNodeByOrderId" />
        <!--        <association property="customerAddressVo" javaType="com.brt.order.vo.BrtCustomerAddressVo" column="customer_address_id" select="com.brt.order.mapper.BrtCustomerAddressMapper.queryBrtCustomerAddressByAddressId" />-->
    </resultMap>

    <sql id="brtPriceSheetOrderAllField">
        A.order_id,
            A.order_no,
            A.customer_id,
            A.contact,
            A.contact_tel,
            A.delivery_address,
            A.order_time,
            A.delivery_time,
            A.template_id,
            A.craft_type,
            A.total_num,
            A.total_amount,
            A.currency_type,
            A.attachments,
            A.user_id,
            A.order_remark,
            A.collection_amount,
            A.collection_status,
            A.order_status,
            A.create_time,
            A.create_by,
            A.update_time,
            A.update_by,
            A.is_price_sheet,
            A.status,
            A.finish_date,
            A.other_fields
    </sql>

    <sql id="brtPriceSheetOrderQuerySql">
        select <include refid="brtPriceSheetOrderAllField"/>
        from brt_price_sheet_order A
    </sql>

    <select id="queryBrtPriceSheetOrderList" parameterType="com.brt.order.vo.BrtPriceSheetOrderVo" resultMap="BrtPriceSheetOrderResult">
        <include refid="brtPriceSheetOrderQuerySql"/>
        <where>
            <if test="brtPriceSheetOrderVo.orderNo != null  and brtPriceSheetOrderVo.orderNo != ''"> and A.order_no like concat('%',#{brtPriceSheetOrderVo.orderNo},'%')</if>
            <if test="brtPriceSheetOrderVo.customerId != null  and brtPriceSheetOrderVo.customerId != ''"> and A.customer_id = #{brtPriceSheetOrderVo.customerId}</if>
            <if test="brtPriceSheetOrderVo.contact != null  and brtPriceSheetOrderVo.contact != ''"> and A.contact = #{brtPriceSheetOrderVo.contact}</if>
            <if test="brtPriceSheetOrderVo.contactTel != null  and brtPriceSheetOrderVo.contactTel != ''"> and A.contact_tel = #{brtPriceSheetOrderVo.contactTel}</if>
            <if test="brtPriceSheetOrderVo.deliveryAddress != null  and brtPriceSheetOrderVo.deliveryAddress != ''"> and A.delivery_address = #{brtPriceSheetOrderVo.deliveryAddress}</if>
            <if test="brtPriceSheetOrderVo.orderTime != null "> and A.order_time = #{brtPriceSheetOrderVo.orderTime}</if>
            <if test="brtPriceSheetOrderVo.deliveryTime != null "> and A.delivery_time = #{brtPriceSheetOrderVo.deliveryTime}</if>
            <if test="brtPriceSheetOrderVo.templateId != null  and brtPriceSheetOrderVo.templateId != ''"> and A.template_id = #{brtPriceSheetOrderVo.templateId}</if>
            <if test="brtPriceSheetOrderVo.craftType != null  and brtPriceSheetOrderVo.craftType != ''"> and A.craft_type = #{brtPriceSheetOrderVo.craftType}</if>
            <if test="brtPriceSheetOrderVo.totalNum != null "> and A.total_num = #{brtPriceSheetOrderVo.totalNum}</if>
            <if test="brtPriceSheetOrderVo.totalAmount != null "> and A.total_amount = #{brtPriceSheetOrderVo.totalAmount}</if>
            <if test="brtPriceSheetOrderVo.currencyType != null  and brtPriceSheetOrderVo.currencyType != ''"> and A.currency_type = #{brtPriceSheetOrderVo.currencyType}</if>
            <if test="brtPriceSheetOrderVo.attachments != null  and brtPriceSheetOrderVo.attachments != ''"> and A.attachments = #{brtPriceSheetOrderVo.attachments}</if>
            <if test="brtPriceSheetOrderVo.userId != null  and brtPriceSheetOrderVo.userId != ''"> and A.user_id = #{brtPriceSheetOrderVo.userId}</if>
            <if test="brtPriceSheetOrderVo.collectionStatus != null and brtPriceSheetOrderVo.collectionStatus != ''"> and A.collection_status = #{brtPriceSheetOrderVo.collectionStatus}</if>
            <if test="brtPriceSheetOrderVo.status != null and brtPriceSheetOrderVo.status != ''"> and A.status = #{brtPriceSheetOrderVo.status}</if>
            <if test="brtPriceSheetOrderVo.dateType != null and brtPriceSheetOrderVo.dateType != ''">
                <choose>
                    <when test="brtPriceSheetOrderVo.dateType == '0'.toString() ">
                        and date_format(A.order_time,'%y%m%d') = date_format(now(),'%y%m%d')
                    </when>
                    <when test="brtPriceSheetOrderVo.dateType == '1'.toString() ">
                        and DATE(A.order_time) = CURDATE() - INTERVAL 1 DAY
                    </when>
                    <when test="brtPriceSheetOrderVo.dateType == '2'.toString() ">
                        and date_format(A.order_time,'%y%m') = date_format(now(),'%y%m')
                    </when>
                    <when test="brtPriceSheetOrderVo.dateType == '3'.toString() ">
                        and QUARTER(A.order_time) = QUARTER(CURDATE()) and YEAR(A.order_time) = YEAR(CURDATE())
                    </when>
                    <when test="brtPriceSheetOrderVo.dateType == '4'.toString() ">
                        and YEAR(A.order_time) = YEAR(CURDATE())
                    </when>
                </choose>
            </if>
            <if test="brtPriceSheetOrderVo.createTimeStart != null and brtPriceSheetOrderVo.createTimeStart != '' and brtPriceSheetOrderVo.createTimeEnd != null and brtPriceSheetOrderVo.createTimeEnd != ''">
                and date_format(A.order_time,'%y%m%d') between date_format(#{brtPriceSheetOrderVo.createTimeStart},'%y%m%d') and date_format(#{brtPriceSheetOrderVo.createTimeEnd},'%y%m%d')
            </if>
            <!-- 数据范围过滤 -->
            ${brtPriceSheetOrderVo.params.brtDataScope}
        </where>
        order by A.create_time desc
    </select>

    <select id="queryBrtPriceSheetOrderByOrderId" resultMap="BrtPriceSheetOrderResult">
        <include refid="brtPriceSheetOrderQuerySql"/>
        where A.order_id = #{OrderId}
    </select>

    <select id="updatePriceSheet" parameterType="java.util.Map" >
        update brt_price_sheet_order set is_price_sheet = #{map.isPriceSheet} where order_id = #{map.orderId}
    </select>

    <!--  销售单导入报价单列表查询  -->
    <select id="exportPriceList" resultType="java.util.Map">
        SELECT
            pso.order_id orderId,
            pso.order_no orderNo,
            sum(ifnull(psod.details_num,0)) num,
            sum(ifnull(psod.details_price,0)*ifnull(psod.details_num,0)) price,
            pso.order_remark remark

        FROM
            brt_price_sheet_order pso
                LEFT JOIN brt_price_sheet_order_details psod ON psod.order_id = pso.order_id
        where pso.`status` = '2'
        <if test="orderNo!=null and orderNo!=''">
            and pso.order_no like concat('%',#{orderNo},'%')
        </if>
        GROUP BY pso.order_no
    </select>

    <select id="updateStatus" parameterType="com.brt.order.vo.BrtPriceSheetOrderVo" >
        update brt_price_sheet_order set status = #{brtPriceSheetOrderVo.status}
           <if test="brtPriceSheetOrderVo.finishDate!=null and brtPriceSheetOrderVo.finishDate!=''">
               , finish_date = #{brtPriceSheetOrderVo.finishDate}
           </if>
        where order_id =#{brtPriceSheetOrderVo.orderId}
    </select>


    <select id="getOrderByOrderTemplateId" resultMap="BrtPriceSheetOrderResult">
        <include refid="brtPriceSheetOrderQuerySql"/>
        where A.order_id = (
            select order_id from brt_order_template where order_template_id = #{orderTemplateId}
        )
    </select>


</mapper>
